@media (orientation:portrait) {
    html {
        font-size: 3vw;
    }
}

@media (orientation:landscape) {
    html {
        font-size: 3vh;
    }
}

#alternating-circles-container {
    width: 30rem;
    height: 10rem;
    border: 1px solid black;
    position: relative;
    background-color: rgba(240, 240, 240, 1);
    border: .1rem rgba(240, 240, 240, 1) solid;
    border-radius: 5rem;
}

.alternating-circles-box {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    position: relative;
    animation-duration: 1s, 3s;
    animation-name: rotate-circle-clockwise, alternate-left-right;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode:color-burn;
}

.alternating-circle-controls-button{
    all: unset;
}

.alternating-circles-box::before {
    content: "";
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
}

@keyframes rotate-circle-clockwise {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes alternate-left-right {
    0% {
        translate: 0% 0%;
    }

    50% {
        translate: 200% 0%;
    }

    100% {
        translate: 0% 0%;
    }
}

.circle-bg-color-1.alternating-circles-box::before {
    background: radial-gradient(rgba(255, 0, 0, .7), rgba(255, 255, 255, 0.1));
}

.circle-bg-color-2.alternating-circles-box::before {
    background: radial-gradient(rgba(0, 255, 0, .7), rgba(255, 255, 255, 0.1));
}

.circle-bg-color-3.alternating-circles-box::before {
    background: radial-gradient(rgba(0, 0, 255, .7), rgba(255, 255, 255, 0.1));
}

.alternating-circles-controls{
    margin: 0 auto;
    width: max-content;
}

.alternating-circles-outer-container{
    width: max-content;
}