:root {
    --circle-radius: 4rem;
}


@media (orientation:portrait) {
    html {
        font-size: 3vw;
    }
}

@media (orientation:landscape) {
    html {
        font-size: 3vh;
    }
}

#device-orientation-button {
    z-index: 10;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    mix-blend-mode: difference;
}

.circle-box {
    width: calc(var(--circle-radius) * 2);
    height: calc(var(--circle-radius) * 8);
    position: relative;
    /* animation-name: rotate-left-right; */
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /* border: 1px black solid; */
    transition-property: transform;
    transition-duration: .1s;
}

.circle-box::before {
    content: "";
    display: inline-block;
    height: calc(var(--circle-radius) * 2);
    width: 1rem;
    left: 50%;
    top: 50%;
    border-radius: 25% 25% 0 0;
    transform: translateX(-50%);
    position: absolute;
    background: linear-gradient(0.25turn, black, white, black);
    background-color: silver;
    border: .1rem solid black;
    mix-blend-mode: normal !important;
}

.circle {
    width: calc(var(--circle-radius) * 2);
    height: calc(var(--circle-radius) * 2);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    /* border: 1px black solid; */
}

.delay-1s {
    animation-delay: 1s;
}

.delay-2s {
    animation-delay: 2s;
}

@keyframes rotate-left-right {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-70deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}