:root {
    --circle-radius: 4rem;
}

body {
    margin: 0;
}


@media (orientation:portrait) {
    html {
        font-size: 3vw;
    }
}

@media (orientation:landscape) {
    html {
        font-size: 3vh;
    }
}

#device-orientation-button {
    z-index: 10;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    margin: 0 auto;
}

.circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    mix-blend-mode: multiply;
}

.circle-box {
    width: calc(var(--circle-radius) * 2);
    height: calc(var(--circle-radius) * 8);
    position: relative;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition-property: transform;
    transition-duration: .1s;
}

.circle-box::before {
    content: "";
    display: inline-block;
    height: calc(var(--circle-radius) * 2.08);
    width: 1rem;
    left: 50%;
    top: 49%;
    border-radius: 1rem 1rem 0 0;
    transform: translateX(-50%);
    position: absolute;
    background: linear-gradient(0.25turn, silver, white, silver);
    background-color: silver;
}

.circle {
    width: calc(var(--circle-radius) * 2);
    height: calc(var(--circle-radius) * 2);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.delay-1s {
    animation-delay: 1s;
}

.delay-2s {
    animation-delay: 2s;
}

@keyframes rotate-left-right {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-70deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.bg-red {
    background: radial-gradient(rgba(255, 0, 0, .7), rgba(255, 255, 255, 0.1));
}

.bg-green {
    background: radial-gradient(rgba(0, 255, 0, .7), rgba(255, 255, 255, 0.1));
}

.bg-blue {
    background: radial-gradient(rgba(0, 0, 255, .7), rgba(255, 255, 255, 0.1));
}

.mode-icon {
    width: 2rem;
}

.mode-container {
    padding: .5rem;
    background-color: silver;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    border-radius: 2rem;
    display: flex;
    gap: .5rem;
}

.mode-select-container {
    display: inline-block;
    width: 4rem;
    background-color: white;
    border-radius: 1rem;
    position: relative;
}

.mode-select-circle {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    transition: left;
    border-radius: 1rem;
    mix-blend-mode: multiply;
}

.mode-select-circle-red {
    background: radial-gradient(rgba(255, 0, 0, .7), rgba(0, 0, 0, .3));
    transition-duration: .2s;
}

.mode-select-circle-green {
    background: radial-gradient(rgba(0, 255, 0, .7), rgba(0, 0, 0, .3));
    transition-duration: .4s;
}

.mode-select-circle-blue {
    background: radial-gradient(rgba(0, 0, 255, .7), rgba(0, 0, 0, .3));
    transition-duration: .6s;
}

.touch-active>.mode-select-circle {
    left: 0;
}

.orientation-active>.mode-select-circle {
    left: 2rem;
}