:root {
    margin: 0;
    font-family: "Roboto", sans-serifs;
}

@media screen and (min-width: 1200px) {
    :root {
        font-size: 12px;
    }

    body {
        max-width: 60vw;
    }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    :root {
        font-size: 10px;
    }

    body {
        max-width: 70vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    :root {
        font-size: 8px;
    }

    body {
        max-width: 80vw;
    }
}

@media screen and (max-width: 599px) {
    :root {
        font-size: 6px;
    }

    body {
        max-width: 90vw;
    }

}

body {
    margin: 0 auto;
}

.poster {
    background-color: #dae0d4;
}

.grid-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . ."
        ". . . . . . . . . . .";
}

.bg-cyan {
    background-color: cyan;
    transform: translateY(-.3rem);
    animation: bg-cyan-up-down 1s infinite;
}

@keyframes bg-cyan-up-down {
    0% {
        transform: translateY(-.3rem);
    }

    50% {
        transform: translateY(.3rem);
    }

    100% {
        transform: translateY(-.3rem);
    }
}

.bg-magenta {
    background-color: magenta;
    transform: translateX(-.3rem) translateY(.3rem);
    animation: bg-magenta-left-right 1s infinite;
}

@keyframes bg-magenta-left-right {
    0% {
        transform: translateX(-.3rem) translateY(.3rem);
    }

    50% {
        transform: translateX(.3rem) translateY(.3rem);
    }

    100% {
        transform: translateX(-.3rem) translateY(.3rem);
    }
}

.bg-yellow {
    background-color: yellow;
    transform: translateX(.3rem) translateY(.3rem);
    animation: bg-yellow-left-right 1s infinite;
}

@keyframes bg-yellow-left-right {
    0% {
        transform: translateX(.3rem) translateY(.3rem);
    }

    50% {
        transform: translateX(-.3rem) translateY(.3rem);
    }

    100% {
        transform: translateX(.3rem) translateY(.3rem);
    }
}

.cell {
    width: 4rem;
    height: 4rem;
    position: relative;
    margin: auto;
}

.cell>span {
    opacity: 0.9;
    border-radius: 100%;
    position: absolute;
    display: inline-block;
    mix-blend-mode: multiply;
}

.cell>span:hover,
.cell>span:active {
    animation: none !important;
}

.cell-1>span {
    width: 20%;
    height: 20%;
    left: calc(50% - 10%);
    top: calc(50% - 10%);
}

.cell-2>span {
    width: 25%;
    height: 25%;
    left: calc(50% - 12.5%);
    top: calc(50% - 12.5%);
}

.cell-3>span {
    width: 30%;
    height: 30%;
    left: calc(50% - 15%);
    top: calc(50% - 15%);
}

.cell-4>span {
    width: 35%;
    height: 35%;
    left: calc(50% - 17.5%);
    top: calc(50% - 17.5%);
}

.cell-5>span {
    width: 40%;
    height: 40%;
    left: calc(50% - 20%);
    top: calc(50% - 20%);
}

.cell-6>span {
    width: 45%;
    height: 45%;
    left: calc(50% - 22.5%);
    top: calc(50% - 22.5%);
}

.cell-7>span {
    width: 50%;
    height: 50%;
    left: calc(50% - 25%);
    top: calc(50% - 25%);
}

.cell-8>span {
    width: 55%;
    height: 55%;
    left: calc(50% - 27.5%);
    top: calc(50% - 27.5%);
}

.cell-9>span {
    width: 60%;
    height: 60%;
    left: calc(50% - 30%);
    top: calc(50% - 30%);
}

.cell-10>span {
    width: 65%;
    height: 65%;
    left: calc(50% - 32.5%);
    top: calc(50% - 32.5%);
}

.cell-11>span {
    width: 70%;
    height: 70%;
    left: calc(50% - 35%);
    top: calc(50% - 35%);
}

.title {
    font-size: 10rem;
    padding-left: 1rem;
}

.row {
    display: flex;
}

.col-4 {
    max-width: 33.333333%;
    min-width: 33.333333%;
    padding-left: 1rem;
}

.details {
    width: 100%;
    font-size: small;
}