@font-face {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(../fonts/Unbounded/Unbounded-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    padding: 0;
    margin: 0;
}

@media (orientation:portrait) {
    html {
        font-size: 2vw;
    }
}

@media (orientation:landscape) {
    html {
        font-size: 2vh;
    }
}

:root {
    --quirky-skate-width: calc(16rem * 2);
    --quirky-skate-height: calc(22rem * 2);
    --quirky-wheel-size: calc(var(--quirky-skate-width) * 0.25);
    --scroll-pixels: 0;
    --scroll-percent: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.section-half-width {
    width: 50%;
}

.section-right{
    margin-left: 50%;
}

.section-m {
    height: 150vh;
}

.section-l {
    height: 200vh;
}

section {
    height: 98vh;
    position: relative;
    margin: 1vh 1rem 1vh 1rem;
    border-radius: 8rem;
}

#quirky {
    /* position: sticky; */
    top: 0;
}

#quirky,
#connect {
    background-color: magenta;
}

#lake {
    overflow: hidden;
}

#timesaver,
#lake {
    background-color: cyan;
}

#looks {
    background-color: yellow;
}

#looks-slogan-big {
    font-size: 12rem;
    text-align: center;
}

.slogan {
    font-size: 10rem;
    line-height: 12rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogan-small {
    font-size: 5rem;
    line-height: 6rem;
    text-align: center;
    padding: 2rem;
}

#quirky-slogan {
    color: yellow;
    mix-blend-mode: plus-lighter;
}

#container-quirky {
    position: fixed;
    transform: rotate(0deg) translate(-50%, -50%) scale(1);
    left: 50%;
    top: 50%;
    width: var(--quirky-skate-width);
    height: var(--quirky-skate-height);
    mix-blend-mode: difference;
    animation-timeline: scroll();
    animation-name: rotate-quirky-skate;
    animation-range: entry 0% contain 100%;
    margin: 0 auto;
    z-index: 10;
}

@keyframes rotate-quirky-skate {
    20% {
        transform: rotate(-180deg) translate(50%, 50%) scale(1);
        left: 0%;
        top: 50%;
        opacity: 1;
    }

    30% {
        transform: rotate(-190deg) translate(30%, 49%) scale(1);
        left: 5%;
        top: 50%;
        opacity: 1;
    }

    40% {
        transform: rotate(-180deg) translate(-50%, 49%) scale(1);
        left: 55%;
        top: 50%;
        opacity: 1;
    }

    60% {
        transform: rotate(-170deg) translate(-50%, 48%) scale(1);
        left: 60%;
        top: 50%;
        opacity: 1;
    }

    70% {
        transform: rotate(-160deg) translate(50%, 47%) scale(1);
        left: 0%;
        top: 50%;
        opacity: 1;
    }

    80% {
        transform: rotate(-180deg) translate(50%, 46%) scale(1);
        left: 0%;
        top: 50%;
        opacity: 1;
    }

    90% {
        transform: rotate(-180deg) translate(50%, 45%) scale(1);
        left: 5%;
        top: 50%;
        opacity: 1;
    }

    93% {
        transform: rotate(-190deg) translate(50%, 44%) scale(0.7);
        left: 50%;
        top: 50%;
        opacity: 1;
    }

    98% {
        transform: rotate(-170deg) translate(50%, 43%) scale(0.5);
        left: 50%;
        top: 80%;
        opacity: 1;
    }

    100% {
        transform: rotate(-180deg) translate(50%, 42%) scale(0.5);
        left: 50%;
        top: 120%;
        opacity: 0;
    }
}

.quirky-wheel {
    width: var(--quirky-wheel-size);
    height: var(--quirky-wheel-size);
    background-color: cyan;
    border-radius: calc(var(--quirky-wheel-size) *0.25);
    position: absolute;
}

.quirky-wheel::before,
.quirky-wheel::after {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: color;
    animation-name: quirky-wheels;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.quirky-wheel::before {
    background-color: magenta;
}

.quirky-wheel::after {
    background-color: yellow;
    animation-direction: reverse;
}

@keyframes quirky-wheels {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 0.5rem);
    }

    75% {
        transform: translate(0, -0.5rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

.quirky-wheel-top-left {
    top: 1rem;
    left: 0;
}

.quirky-wheel-top-right {
    top: 1rem;
    right: 0;
}

.quirky-wheel-bottom-left {
    top: 35em;
    left: 0;
}

.quirky-wheel-bottom-right {
    top: 35rem;
    right: 0;
}

.quirky-board {
    background-color: cyan;
    width: var(--quirky-skate-width);
    height: var(--quirky-skate-height);
    border-radius: 100% 100% 80% 80%;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: quirky-board;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.quirky-board::before,
.quirky-board::after {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    top: inherit;
    left: inherit;
    mix-blend-mode: darken;
    animation-name: quirky-board-shift;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.quirky-board::before {
    background-color: magenta;
}

.quirky-board::after {
    background-color: yellow;
    animation-direction: reverse;
}

@keyframes quirky-board-shift {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(.2rem);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-.2rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes quirky-board {
    0% {
        transform: rotate(0deg) translateY(0);
    }

    25% {
        transform: rotate(1deg) translateY(0.2rem);
    }

    50% {
        transform: rotate(0deg) translateY(0);
    }

    75% {
        transform: rotate(-1deg) translateY(0.2rem);
    }

    100% {
        transform: rotate(0deg) translateY(0);
    }
}

.quirky-handle {
    /* border: 1px solid #000; */
    background-color: cyan;
    width: calc(var(--quirky-skate-width) * 0.1);
    height: calc(var(--quirky-skate-height) * 0.25);
    border-radius: calc(var(--quirky-skate-width) * 0.1);
    z-index: 10;
    position: absolute;
    top: 42%;
}

.quirky-handle::before,
.quirky-handle::after {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: darken;
    animation-name: quirky-handle;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.quirky-handle::before {
    background-color: magenta;
}

.quirky-handle::after {
    background-color: yellow;
    animation-direction: reverse;
}

@keyframes quirky-handle {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-.2rem);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(.2rem);
    }

    100% {
        transform: translateY(0);
    }

}

.quirky-handle-left {
    left: calc(var(--quirky-skate-width) * 0.07);
}

.quirky-handle-right {
    right: calc(var(--quirky-skate-width) * 0.07);
}

.quirky-bolts {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.quirky-bolts-top {
    top: 1rem;
}

.quirky-bolts-bottom {
    bottom: 10rem;
}

.quirky-bolt {
    width: 1rem;
    height: 1rem;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
}

.quirky-bolt-top-left {
    left: -2rem;
    top: 2rem;
}

.quirky-bolt-top-right {
    left: 2rem;
    top: 2rem;
}

.quirky-bolt-bottom-left {
    left: -2rem;
    top: 6rem;
}

.quirky-bolt-bottom-right {
    left: 2rem;
    top: 6rem;
}

/* Timesaver */

#container-timesaver {
    --indicator-width: calc(var(--clock-width) * 0.1);
    --hand-width: calc(var(--clock-width) * 0.05);
    --clock-width: 40rem;
    --duration-hour: 6s;
    --duration-minute: 1s;
    width: var(--clock-width);
    height: var(--clock-width);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

#timesaver-slogan {
    z-index: 20;
    mix-blend-mode: exclusion;
    color: cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#timesaver-slogan-container {
    position: relative;
    height: 100%;
}

.clock-container-inner {
    position: relative;
    height: 100%;
}

#small-clock-1 {
    left: 17%;
    top: 15%;
    --duration-hour: 3s;
    --duration-minute: .5s;
}

#small-clock-2 {
    right: 10%;
    top: 60%;
    --duration-hour: 18s;
    --duration-minute: 3s;
}

.container-small-clock {
    --clock-width: 10rem;
    --indicator-width: calc(var(--clock-width) * 0.1);
    --hand-width: calc(var(--clock-width) * 0.05);
    width: var(--clock-width);
    height: var(--clock-width);
    position: absolute;

}

#middle-clock-1 {
    left: 10%;
    bottom: 10%;
    --duration-hour: 1.5s;
    --duration-minute: .25s;
}

#middle-clock-2 {
    right: 10%;
    top: 5%;
    --duration-hour: 9s;
    --duration-minute: 1.5s;
}

.container-middle-clock {
    --clock-width: 15rem;
    --indicator-width: calc(var(--clock-width) * 0.1);
    --hand-width: calc(var(--clock-width) * 0.05);
    width: var(--clock-width);
    height: var(--clock-width);
    position: absolute;
}

#tiny-clock-1 {
    left: 5%;
    top: 5%;
    --duration-hour: 12s;
    --duration-minute: 2s;
}

#tiny-clock-2 {
    left: 65%;
    bottom: 2%;
    --duration-hour: 24s;
    --duration-minute: 4s;
}

.container-tiny-clock {
    --clock-width: 7.5rem;
    --indicator-width: calc(var(--clock-width) * 0.1);
    --hand-width: calc(var(--clock-width) * 0.05);
    width: var(--clock-width);
    height: var(--clock-width);
    position: absolute;
}

.clockface {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--clock-width);
    height: var(--clock-width);
    background-color: red;
    background-image: conic-gradient(from 0deg at 50% 50%, rgb(255, 2, 133) 0%, rgb(170, 58, 116) 33%, rgb(255, 255, 3) 66%, rgb(255, 2, 133) 100%);
    border-radius: calc(var(--clock-width) * 0.5);
    z-index: 1;
}

.clockface.clockface-background {
    mix-blend-mode: color;
}

.hour-hand {
    width: var(--hand-width);
    height: calc(var(--clock-width) * 0.3);
    border-radius: calc(var(--hand-width) * 0.5);
    background-color: cyan;
    position: absolute;
    top: calc(var(--clock-width) * 0.2);
    left: 50%;
    z-index: 10;
    mix-blend-mode: exclusion;
    animation-name: rotate-hand;
    animation-duration: var(--duration-hour);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.minute-hand {
    width: var(--hand-width);
    height: calc(var(--clock-width) * 0.45);
    border-radius: calc(var(--hand-width) * 0.5);
    background-color: green;
    position: absolute;
    top: calc(var(--clock-width) * 0.05);
    left: 50%;
    z-index: 5;
    mix-blend-mode: color-dodge;
    animation-name: rotate-hand;
    animation-duration: var(--duration-minute);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.indicator {
    width: var(--indicator-width);
    height: var(--indicator-width);
    background-color: red;
    border-radius: calc(var(--indicator-width) * 0.5);
    position: absolute;
    mix-blend-mode: color-dodge;
    z-index: 9;
}

.indicator-12-oclock {
    top: calc(var(--clock-width) / 30);
    left: 50%;
    transform: translateX(-50%);
}

.indicator-3-oclock {
    top: 50%;
    right: calc(var(--clock-width) / 30);
    transform: translateY(-50%);
}

.indicator-9-oclock {
    top: 50%;
    left: calc(var(--clock-width) / 30);
    transform: translateY(-50%);
}

.indicator-6-oclock {
    bottom: calc(var(--clock-width) / 30);
    left: 50%;
    transform: translateX(-50%);
}

.center-circle {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: rgb(170, 58, 116);
    filter: blur(1rem);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

@keyframes rotate-hand {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

/* Looks */
#container-looks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: cyan;
}

#container-looks-mouth {
    position: relative;
    width: 100%;
}

#looks-mouth {
    width: 5rem;
    height: 2.5rem;
    border-radius: 5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-300%) scale(0.5);
    background-color: cyan;
    transition: all .5s;
    animation-name: scale-mouth;
    animation-duration: 1s;
    animation-timeline: scroll();
    animation-range: contain 30%;
}

#looks-mouth-tongue {
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: 10%;
    left: 30%;
    border-radius: 50% 50% 10% 10%;
    background-color: white;
}

#container-looks-eyes {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-65%, 20%);
    width: 20rem;
    height: 10rem;
}

#container-looks-eyes-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.looks-eye {
    width: 2.5rem;
    height: 2.5rem;
    left: 50%;
    background-color: white;
    position: absolute;
    top: 30%;
    border-radius: 1.25rem;
    animation-duration: 1s;
    animation-timeline: scroll();
    animation-range: contain 30%;
    transform-origin: top center;
}

.looks-eye::before {
    content: "";
    display: inline-block;
    background-color: black;
    border-radius: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;

}

#looks-eye-left {
    left: 0%;
    animation-name: increase-eyes;
}

#looks-eye-right {
    left: 50%;
    animation-name: increase-eyes;
}

@keyframes increase-eyes {
    0% {
        transform: scale(1, 1) rotate(-60deg) skew(0deg, 0deg);
    }

    100% {
        transform: scale(2, 2) rotate(-20deg) skew(10deg, 45deg);
    }
}

@keyframes scale-mouth {
    100% {
        transform: translateX(-200%) scale(3);
    }
}

/* Wet */
#wave {
    position: relative;
    opacity: 0;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: .2rem;
    height: .1rem;
    border: #FFF .5rem solid;
    border-radius: 15rem / 7.5rem;
    animation-name: ripple;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-range: contain 50%;
    animation-timeline: scroll(); */
}

#wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: .1rem;
    height: .1rem;
    border: #FFF .2rem solid;
    border-radius: 5rem / 2.5rem;
    animation-name: ripple-2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-range: contain 20%;
    animation-timeline: scroll(); */
}

@keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        width: 30rem;
        height: 15rem;
        border-width: 1rem;
        /* opacity: 0; */
    }
}

@keyframes ripple-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        width: 10rem;
        height: 5rem;
        border-width: 1rem;
        left: 50%;
    }
}

/* Connect */
#container-connect {
    position: relative;
    width: 100%;
    height: 100%;
}

#connect-slogan {
    color: yellow;
    z-index: 10;
}

.heart-xs {
    width: 5rem;
    height: 5rem;
}

.heart-s {
    width: 10rem;
    height: 10rem;
    animation-name: heart-pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.heart-m {
    width: 15rem;
    height: 15rem;
}

.heart-background {
    fill: purple;
}

#heart-1 {
    fill: cyan;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#heart-2 {
    position: absolute;
    left: 25%;
    top: 10%;
}

#heart-3 {
    position: absolute;
    left: 60%;
    top: 75%;
}

#heart-4 {
    position: absolute;
    left: 10%;
    top: 60%;
}

#heart-5 {
    position: absolute;
    left: 75%;
    top: 25%;
}

@keyframes heart-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

footer {
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.attribution-small {
    font-size: 0.6rem;
    color: #7d7d7d;
}

#attributions-container {
    margin: 1rem auto 0 auto;
    padding: 1rem;
    background-color: rgb(236, 236, 236);
    width: max-content;
    border-radius: 1rem;
}

#attributions {
    height: 0;
    opacity: 0;
    transition: all .3s;
    overflow: hidden;
}

.show-attributions {
    height: 7rem !important;
    opacity: 1 !important;
}

#attributions-title {
    cursor: pointer;
}

.crow-icon {
    width: 1rem;
    height: 1rem;
}

#attributions-icon {
    display: inline-block;
    transition: all .3s;
    height: 1rem;
}

.rotate-attributions-icon {
    transform: rotate(180deg);
}