body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (orientation: landscape) {
    main {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }
}

@media (orientation: portrait) {
    main {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}

main img {
    width: 100%;
    transition: all 5s;
    mix-blend-mode: difference;
    height: 50%;
}