@font-face {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(../fonts/Unbounded/Unbounded-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    font-family: "Unbounded", sans-serif;
}

@property --gradient-color-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #FF007B;
}

@property --gradient-color-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #00DDFF;
}

@property --gradient-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--gradient-angle), var(--gradient-color-1), var(--gradient-color-2));
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes colorChange {
    50% {
        --gradient-color-1: #FFE300;
        --gradient-color-2: #AA396F;
    }

    100% {
        --gradient-color-1: #FF007B;
        --gradient-color-2: #00DDFF;
        --gradient-angle: 360deg;
    }
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    mix-blend-mode: exclusion;
    color: yellow;
}