* {
    margin: 0;
}

@property --gradient-color-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #FF007B;
}

@property --gradient-color-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #00DDFF;
}

@property --gradient-angle{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--gradient-angle), var(--gradient-color-1), var(--gradient-color-2));
    transition: var(--gradient-angle) 2s, var(--gradient-color-1) 2s, var(--gradient-color-2) 2s;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes colorChange {
    50% {
        --gradient-color-1: #FFE300;
        --gradient-color-2: #AA396F;
    }
    100%{
        --gradient-color-1: #FF007B;
        --gradient-color-2: #00DDFF;
        --gradient-angle: 360deg;
    }
}