* {
    margin: 0;
}

@property --gradient-color-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #FF007B;
}

@property --gradient-color-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #00DDFF;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2));
    transition: var(--gradient-color-1) 1s, var(--gradient-color-2) 1s;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    25% {
        --gradient-color-1: #00DDFF;
        --gradient-color-2: #FF007B;
    }
    50% {
        --gradient-color-1: #00FF00;
        --gradient-color-2: #FF00FF;
    }
    75% {
        --gradient-color-1: #FF00FF;
        --gradient-color-2: #00FF00;
    }
}