* {
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    padding: 0;
    margin: 0;
}

@media (orientation:portrait) {
    html {
        font-size: 2vw;
    }
}

@media (orientation:landscape) {
    html {
        font-size: 2vh;
    }
}

@font-face {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(../../fonts/Unbounded/Unbounded-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(../../fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --head-image-height: 20rem;
    --number-of-heads: 10;
    --outer-border-width: .5rem;
}

h1 {
    font-size: 4rem;
}

body {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

header {
    padding: 1rem;
    text-align: center;
    border: var(--outer-border-width) solid black;
    border-radius: 1rem 1rem 0 0;
    margin-top: 1rem;
    background: linear-gradient();
}

footer {
    padding: 1rem;
    text-align: center;
    border: var(--outer-border-width) solid black;
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 1rem;

}

.slot-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-template-rows: 6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "slot-1 slot-2 slot-3 start-spin";
    border-bottom: var(--outer-border-width) solid black;
}

main {
    border-color: black;
    border-left: var(--outer-border-width) solid;
    border-right: var(--outer-border-width) solid;
}

.slot {
    position: relative;
    overflow: hidden;
    height: var(--head-image-height);
}

.crow-icon {
    height: 1rem;
}

.money-with-wings {
    height: 2rem;
    padding: 0 .5rem 0 .5rem;
}

.image-flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.win-win-win {
    font-size: 2rem;
    align-self: center;
    padding: 0 1rem 0 1rem;
}

.advertisement {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

}

@keyframes spin {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(-1 * var(--head-image-height) * var(--number-of-heads)));
    }
}

.head-image {
    animation: spin 10s infinite linear;
    width: 100%;
    display: block;
    height: var(--head-image-height);
    /* scale: .8; */
}

.slot {
    border-right: .1rem solid black;
}

#slot-1 {
    grid-area: slot-1;
}

#slot-2 {
    grid-area: slot-2;
}

#slot-3 {
    grid-area: slot-3;
}

#start-spin {
    grid-area: start-spin;
    cursor: pointer;
    font-size: 1rem;
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.counter {
    display: flex;
    padding: .5rem;
    border: .1rem solid black;
    border-radius: .5rem;
    gap: .5rem;
    background-color: black;
    align-items: center;
}

.counter-label {
    color: white;
}

.counter-number {
    background-color: white;
    padding: .1rem .2rem .1rem .2rem;
    border-radius: .2rem;
    font-family: "Share Tech Mono", monospace;
}


#start-spin {
    margin: auto;
    border-width: .5rem;
    border-color: black;
    border-style: solid;
    background: white;
    border-radius: 1rem;
    color: black;
    transition: all .2s;
    padding: .5rem;
    height: 4.5rem;
}

#start-spin:active {
    background-color: black;
    color: white;
}

#attributions-list {
    list-style: none;
    font-size: .7rem;
    margin-top: 1rem;
}

#attributions-title {
    font-size: 1rem;
}

#close-attributions {
    margin-top: 1rem;
}

.dialog {
    border: var(--outer-border-width) solid black;
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 90%;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

#project-text {
    width: 40rem;
    margin: 0 auto;
}

.win-icon,
.lose-icon {
    height: 4rem;
    vertical-align: middle;
}