* {
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    padding: 0;
    margin: 0;
}

@media (orientation:portrait) {
    html {
        font-size: 2vw;
    }
}

@media (orientation:landscape) {
    html {
        font-size: 2vh;
    }
}

@font-face {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(../../fonts/Unbounded/Unbounded-VariableFont_wght.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 200 900;
    font-display: swap;
    src: url(../../fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf) format("truetype");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --head-image-height: 20rem;
    --number-of-heads: 10;
    --outer-border-width: 1rem;
    --color-space-cadet: #151426;
    --color-saffron: #BC04BF;
    --color-medium-aquamarine: #04D9C4;
    --color-international-orange: #F22294;
    --color-light-coral: #EE05F2;
    --outer-border-color: var(--color-international-orange);
}

h1 {
    font-size: 4rem;
}

body {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    max-width: 70rem;
    margin: 0 auto;
    background-color: black;
}

header {
    text-align: center;
    border-color: var(--outer-border-color);
    border-style: solid;
    border-width: var(--outer-border-width) var(--outer-border-width) 0 var(--outer-border-width);
    border-radius: 7.5rem 7.5rem 0 0;
    background: radial-gradient(var(--color-light-coral), var(--color-international-orange));
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

footer {
    padding: 1rem;
    text-align: center;
    border-color: var(--outer-border-color);
    border-style: solid;
    border-width: 0 var(--outer-border-width) var(--outer-border-width) var(--outer-border-width);
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 1rem;
    background: radial-gradient(var(--color-light-coral), var(--color-international-orange));
    color: var(--color-saffron);
    display: flex;
    flex-direction: column;
}

#slots-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-template-rows: 6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "slot-1 slot-2 slot-3 start-spin";
    border-width: var(--outer-border-width) 0 var(--outer-border-width) 0;
    border-color: var(--outer-border-color);
    border-style: solid;

}

main {
    border-color: var(--outer-border-color);
    border-style: solid;
    border-width: 0 var(--outer-border-width) 0 var(--outer-border-width);
}

.crow-icon {
    height: 1rem;
}

.image-flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.win-win-win {
    align-self: center;
    padding: 0 1rem 0 1rem;
    width: 100%;
}

.advertisement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    align-self: center;
    padding: .5rem;
}

#slot-1 {
    grid-area: slot-1;
    transition-duration: 3s;
    border-width: 0 .5rem 0 0;
    border-style: solid;
    border-color: var(--outer-border-color);
}

#slot-2 {
    grid-area: slot-2;
    transition-duration: 4s;
    border-width: 0 .5rem 0 0;
    border-style: solid;
    border-color: var(--outer-border-color);
}

#slot-3 {
    grid-area: slot-3;
    transition-duration: 5s;
    border-width: 0 .5rem 0 0;
    border-style: solid;
    border-color: var(--outer-border-color);
}

#start-spin {
    grid-area: start-spin;
    font-size: 1rem;
}

#start-spin:disabled {
    cursor: not-allowed;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
}

.counter {
    display: flex;
    padding: .5rem;
    border-radius: .5rem;
    gap: .5rem;
    align-items: center;
    color: var(--color-space-cadet);
    background-color: var(--color-medium-aquamarine);
    box-shadow: 0 0 .5rem .25rem var(--color-medium-aquamarine);
}

.counter-number {
    background-color: white;
    padding: .1rem .2rem .1rem .2rem;
    border-radius: .2rem;
    font-family: "Share Tech Mono", monospace;
    position: relative;
    overflow: hidden;
    width: 2.5rem;
    height: 1.5rem;
}

.counter-number-left,
.counter-number-middle,
.counter-number-right {
    font-family: inherit;
    position: absolute;
    top: .2rem
}

.counter-number-left {
    left: .5rem;
}

.counter-number-middle {
    left: 1rem;
}

.counter-number-right {
    left: 1.5rem;
}

.increase-value {
    font-family: inherit;
    position: absolute;
    right: 0;
    padding-right: inherit;
    transform: translateY(1rem);
}

.move-number-up-from-current-position {
    animation-name: move-number-up-from-current-position;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

@keyframes move-number-up-from-current-position {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-1rem);
    }
}


#start-spin {
    margin: auto;
    border-width: .5rem;
    border-color: black;
    border-style: solid;
    background: white;
    border-radius: 1rem;
    color: black;
    transition: all .2s;
    padding: .5rem;
    height: 4.5rem;
}

#start-spin:active {
    background-color: black;
    color: white;
}

#attributions-list {
    list-style: none;
    margin-top: 1rem;
}

#close-attributions {
    margin-top: 1rem;
}

.dialog {
    border: var(--outer-border-width) solid var(--color-international-orange);
    background: radial-gradient(var(--color-light-coral), var(--color-international-orange));
    box-shadow: 0 0 .5rem .25rem var(--color-international-orange);
    color: var(--color-space-cadet);
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 50rem;
    text-align: center;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

#project-text {
    width: 40rem;
    margin: 0 auto;
}

.win-icon,
.lose-icon {
    height: 4rem;
    vertical-align: middle;
}

.lose-text {
    margin-top: 1rem;
}

.dialog-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#win-image-head {
    height: 25rem;
}


.slot-container {
    width: 100%;
    height: 20rem;
    perspective: 20rem;
    background-color: var(--color-space-cadet);
    overflow: hidden;
}

.wheel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition-property: transform;
    transition-duration: inherit;
}

.wheel .card {
    background: white;
    height: 100%;
    position: absolute;
    transition-property: transform;
    transition-duration: inherit;
    width: 100%;
    border: .1rem solid white;
    border-radius: 5%;
}

.card>img {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    max-height: 90%;
    max-width: 90%;
}


#slot-machine-name {
    color: var(--color-saffron);
    align-self: center;
    margin: 1rem 0 0 0;
}

#slot-machine-title {
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    background-color: var(--color-medium-aquamarine);
    box-shadow: 0 0 .5rem .25rem var(--color-medium-aquamarine);
    margin: 1rem;
    padding: .5rem;
}

.money-with-wings {
    height: 100%;
    width: 100%;
    fill: var(--color-saffron);
}

.color-inverted {
    filter: invert(1);
}

button {
    cursor: pointer;
    background-color: var(--color-space-cadet);
    box-shadow: 0 0 .5rem .25rem var(--color-space-cadet);
    color: var(--color-light-coral);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    margin: .5rem;
}

.copyright {
    color: var(--color-space-cadet);
}