@media (orientation:portrait) {
    html {
        font-size: 3vw;
    }
}

@media (orientation:landscape) {
    html {
        font-size: 3vh;
    }
}

body {
    overflow: hidden;
    margin: 0;
}

#gradient-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gradient-wheel-container {
    position: relative;
    width: 100%;
    height: 100%;
}


.gradient-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    background-size: 100% 100%;
    background-position: 0px 0px;
    /* background-image: conic-gradient(from 0deg at 50% 50%, rgb(255, 0, 0) 0%, rgb(255, 165, 0) 6%, rgb(255, 255, 0) 19%, rgb(0, 0, 255) 38%, rgb(0, 255, 0) 50%, rgb(128, 0, 255) 65%, rgb(75, 0, 130) 77%, rgb(255, 0, 0) 99%); */
    image-rendering: pixelated;
    filter: blur(0.1rem);
    transition-property: transform;
    overflow: hidden;
}

.gradient-circle-cmy {
    background-image: conic-gradient(from 0deg at 50% 50%, cyan 0%, magenta 33%, yellow 66%, cyan 100%);
}

.gradient-circle-rgb {
    background-image: conic-gradient(from 0deg at 50% 50%, red 0%, green 33%, blue 66%, red 100%);
}

.gradient-circle-ppy {
    background-image: conic-gradient(from 0deg at 50% 50%, rgb(255, 2, 133) 0%, rgb(170, 58, 116) 33%, rgb(255, 255, 3) 66%, rgb(255, 2, 133) 100%);
}

.white-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.size-1 {
    width: 30rem;
    height: 30rem;
    border-radius: 15rem;
}

.size-2 {
    width: 26rem;
    height: 26rem;
    border-radius: 14rem;
}

.size-3 {
    width: 25rem;
    height: 25rem;
    border-radius: 12.5rem;
}

.size-4 {
    width: 21rem;
    height: 21rem;
    border-radius: 10.5rem;
}

.size-5 {
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
}

.size-6 {
    width: 16rem;
    height: 16rem;
    border-radius: 8rem;
}

.size-7 {
    width: 15rem;
    height: 15rem;
    border-radius: 7.5rem;
}

.size-8 {
    width: 11rem;
    height: 11rem;
    border-radius: 5.5rem;
}

.size-9 {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}

/* Radial slider */

#radial-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    /* background-color: white; */
    width: 30rem;
    height: 30rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#radial-slider #radial-slider-handle {
    position: absolute;
    width: 5%;
    height: 50%;
    left: 47.5%;
    top: 0;
    transform: rotate(0deg);
    transform-origin: center bottom;
}

#radial-slider #radial-slider-handle:before {
    content: "";
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    width: 200%;
    transform: translate3d(-50%, -50%, 0);
    height: 0;
    padding-bottom: 200%;
    border-radius: 50%;
    cursor: pointer;
}