:root {
    --circle-radius: 15vh;
}

@media (orientation: portrait) {
    :root {
        --color-picker-circle-radius: 4vw;
    }
}

@media (orientation: landscape) {
    :root {
        --color-picker-circle-radius: 3vh;
    }
}

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    min-height: 300vh;
    overflow-x: hidden;
}

.circle {
    width: calc(var(--circle-radius) * 2);
    height: calc(var(--circle-radius) * 2);
    border-radius: 100%;
}

@media (orientation: landscape) {
    main {
        height: 70vh;
        width: 70vh;
    }

    @keyframes zoom-out {
        0% {
            transform: scale(10);
        }

        50% {
            transform: scale(3);
        }

        100% {
            transform: scale(10);
        }
    }
}

@media (orientation: portrait) {
    main {
        height: 70vw;
        width: 70vw;
    }

    @keyframes zoom-out {
        0% {
            transform: scale(5);
        }

        50% {
            transform: scale(2.5);
        }

        100% {
            transform: scale(5);
        }
    }
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: .2rem;
    animation-name: wobbly-frame-3;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition-property: height, width;
    transition-duration: 1.5s;
    animation-play-state: running;
}

@keyframes wobbly-frame-3 {
    0% {
        border-radius: 45% 35% 45% 40%;
    }

    25% {
        border-radius: 35% 40% 35% 45%;
    }

    50% {
        border-radius: 40% 35% 45% 35%;
    }

    75% {
        border-radius: 35% 45% 40% 40%;
    }

    100% {
        border-radius: 45% 35% 45% 40%;
    }
}

.rotating-circles-container {
    position: relative;
    width: 100%;
    height: 100%;
    animation-name: zoom-out;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.circle-container {
    position: absolute;
    mix-blend-mode: multiply;
}

.circle-container-cyan {
    left: calc(50% - var(--circle-radius));
    top: calc(50% - var(--circle-radius));
}

.circle-container-magenta {
    left: calc(30% - var(--circle-radius));
    top: calc(55% - var(--circle-radius));
    padding-left: 10%;
}

.circle-container-yellow {
    left: calc(60% - var(--circle-radius));
    top: calc(55% - var(--circle-radius));
    padding-right: 10%;
}

.bg-red,
.rgb.circle-bg-color-1.alternating-circles-box::before {
    background: radial-gradient(rgba(255, 0, 0, .7), rgba(255, 255, 255, 0.1));
}

.bg-green,
.rgb.circle-bg-color-2.alternating-circles-box::before {
    background: radial-gradient(rgba(0, 255, 0, .7), rgba(255, 255, 255, 0.1));
}

.bg-blue,
.rgb.circle-bg-color-3.alternating-circles-box::before {
    background: radial-gradient(rgba(0, 0, 255, .7), rgba(255, 255, 255, 0.1));
}

.bg-cyan,
.cmy.circle-bg-color-1.alternating-circles-box::before {
    background: radial-gradient(rgba(0, 255, 255, 1), rgba(255, 255, 255, .1));
}

.bg-magenta,
.cmy.circle-bg-color-2.alternating-circles-box::before {
    background: radial-gradient(rgba(255, 0, 255, 1), rgba(255, 255, 255, .1));
}

.bg-yellow,
.cmy.circle-bg-color-3.alternating-circles-box::before {
    background: radial-gradient(rgba(255, 255, 0, 1), rgba(255, 255, 255, .1));
}

.bg-bright-pink,
.ppy.circle-bg-color-1.alternating-circles-box::before {
    background: radial-gradient(rgba(255, 2, 133, 1), rgba(255, 255, 255, 0.1));
}

.bg-maximum-red-purple,
.ppy.circle-bg-color-2.alternating-circles-box::before {
    background: radial-gradient(rgba(170, 58, 116, 1), rgba(255, 255, 255, 0.1));
}

.bg-vivid-yellow,
.ppy.circle-bg-color-3.alternating-circles-box::before {
    background: radial-gradient(rgba(255, 255, 3, 1), rgba(255, 255, 255, 0.1));
}

.rotate-clockwise {
    animation-name: rotate-clockwise;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.rotate-counterclockwise {
    animation-name: rotate-counterclockwise;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



.move-up-down {
    animation-name: move-up-down;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes move-up-down {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10%);
    }

    75% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counterclockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.color-picker {
    position: fixed;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    transition: opacity .5s;
}

.color-picker-inner {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.color-picker-circle {
    margin: .5rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    height: calc(var(--color-picker-circle-radius) * 2);
    width: calc(var(--color-picker-circle-radius) * 2);
}

.color-picker-mix-color {
    display: inline-block;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: multiply;
}

.color-picker-mix-color.bgcyan,
.color-picker-mix-color.bg-red,
.color-picker-mix-color.bg-maximum-red-purple {
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-picker-mix-color.bg-magenta,
.color-picker-mix-color.bg-blue,
.color-picker-mix-color.bg-bright-pink {
    left: -75%;
    bottom: -50%;
    transform: translate(-20%, 40%);
}

.color-picker-mix-color.bg-yellow,
.color-picker-mix-color.bg-green,
.color-picker-mix-color.bg-vivid-yellow {
    right: -75%;
    bottom: -50%;
    transform: translate(20%, 40%);
}

header {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-align: center;
    color: black;
    transition: opacity .5s;
}

#color-picker-circle-active {
    position: absolute;
    background-color: silver;
    margin: .5rem;
    height: calc(var(--color-picker-circle-radius) * 2);
    width: calc(var(--color-picker-circle-radius) * 2);
    border-radius: 50%;
    scale: 1.2;
    transition: left .5s;
}

.color-combo-1 {
    left: 0%;
}

.color-combo-2 {
    left: 33.3333333%;
}

.color-combo-3 {
    left: 66.6666666%;
}

.opacity-0 {
    opacity: 0;
}


/* Pendulum styles */
:root {
    --pendulum-circle-radius: 4rem;
}

@media (orientation:portrait) {
    html {
        font-size: 3vw;
    }
}

@media (orientation:landscape) {
    html {
        font-size: 3vh;
    }
}

.pendulum-circle-container {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -70%);
    mix-blend-mode: multiply;
}

.pendulum-circle-box {
    width: calc(var(--pendulum-circle-radius) * 2);
    height: calc(var(--pendulum-circle-radius) * 8);
    position: relative;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition-property: transform;
    transition-duration: .1s;
}

.pendulum-circle-box::before {
    content: "";
    display: inline-block;
    height: calc(var(--pendulum-circle-radius) * 2.08);
    width: 1rem;
    left: 50%;
    top: 49%;
    border-radius: 1rem 1rem 0 0;
    transform: translateX(-50%);
    position: absolute;
    /* background: linear-gradient(0.25turn, silver, white, silver); */
    background-color: silver;
    background-color: silver;
}

.pendulum-circle::after {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: silver;
    border-radius: 1rem;
}

.pendulum-circle {
    width: calc(var(--pendulum-circle-radius) * 2);
    height: calc(var(--pendulum-circle-radius) * 2);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.delay-1s {
    animation-delay: 1s;
}

.delay-2s {
    animation-delay: 2s;
}



.mode-icon {
    width: 2rem;
    cursor: pointer;
}

#mode-container {
    padding: .5rem;
    background-color: silver;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
    border-radius: 2rem;
    display: flex;
    gap: .5rem;
    z-index: 100;
}

.mode-select-container {
    display: inline-block;
    width: 4rem;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
}

.mode-select-circle {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    transition: left;
    border-radius: 1rem;
    mix-blend-mode: multiply;
}

.mode-select-circle-red {
    background: radial-gradient(rgba(255, 0, 0, .7), rgba(0, 0, 0, .3));
    transition-duration: .2s;
}

.mode-select-circle-green {
    background: radial-gradient(rgba(0, 255, 0, .7), rgba(0, 0, 0, .3));
    transition-duration: .4s;
}

.mode-select-circle-blue {
    background: radial-gradient(rgba(0, 0, 255, .7), rgba(0, 0, 0, .3));
    transition-duration: .6s;
}

.touch-active>.mode-select-circle {
    left: 0;
}

.orientation-active>.mode-select-circle {
    left: 2rem;
}

.hidden {
    display: none !important;
}

/* Waves */

.wave-path {
    fill: silver;
}

.wave {
    height: 8rem;
    position: absolute;
    width: 100vw;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
}


#alternating-circles-container {
    width: 30rem;
    height: 10rem;
    border: 1px solid black;
    position: relative;
    background-color: rgba(240, 240, 240, 1);
    border: .1rem rgba(240, 240, 240, 1) solid;
    border-radius: 5rem;
}

.alternating-circles-box {
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    position: relative;
    animation-duration: 1s, 3s;
    animation-name: rotate-circle-clockwise, alternate-left-right;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: hard-light;
}

.alternating-circles-box::before {
    content: "";
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
}

@keyframes rotate-circle-clockwise {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes alternate-left-right {
    0% {
        translate: 0% 0%;
    }

    50% {
        translate: 200% 0%;
    }

    100% {
        translate: 0% 0%;
    }
}

.alternating-circles-controls {
    margin: 0 auto;
    width: max-content;
    border-radius: 1.5rem;
    padding: .1rem;
}

.alternating-circles-outer-container {
    width: max-content;
    position: absolute;
    left: 50%;
    top: 250%;
    transform: translate(-50%, -50%);
}

.alternating-circle-controls-button {
    all: unset;
    background-color: silver;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-size: 2rem;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    padding: .5rem;
}

.alternating-circle-controls-button:hover {
    background-color: rgba(230, 230, 230, 1);
}

.alternating-circle-controls-button:active {
    background-color: rgba(220, 220, 220, 1);
}

.alternating-circles-controls {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

#add-button {
    background-image: url(./add_FILL0_wght400_GRAD0_opsz24.svg);
}

#remove-button {
    background-image: url(./remove_FILL0_wght400_GRAD0_opsz24.svg);
}