body {
    margin: 0;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 80vmin;
    height: 80vmin;
    overflow: hidden;
    border-radius: 50%;
}

.container-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.rectangle {
    position: absolute;
    border-top: 40vmin solid #FFA200;
    border-right: 40vmin solid #00FFFF;
    border-bottom: 40vmin solid #FF5E00;
    border-left: 40vmin solid #39AAAA;
    background: transparent;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    width: 5vmin;
    height: 5vmin;
    left: calc(50% - 42.5vmin);
    top: calc(50% - 42.5vmin);
    animation-duration: 18s;
}

@keyframes rotate-rectangle-clockwise {
    0% {
        transform: rotate(-360deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(360deg) scale(18);
        opacity: 1;
    }

}

@keyframes rotate-rectangle-counter-clockwise {
    0% {
        transform: rotate(360deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-360deg) scale(18);
    }

}