body {
    margin: 0;
}

@property --rectangle-width {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 30%;
}

:root {
    --rectangle-border-width: 10rem;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 90vmin;
    height: 90vmin;
    overflow: hidden;
    border-radius: 50%;
}

.container-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.rectangle {
    position: absolute;
    background: transparent;
    width: var(--rectangle-width);
    height: var(--rectangle-width);
    left: calc(50% - var(--rectangle-border-width) - var(--rectangle-width) / 2);
    top: calc(50% - var(--rectangle-border-width) - var(--rectangle-width) / 2);
    animation: increase-size 9s infinite linear;
}

.rectangle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate-rectangle-clockwise 9s infinite linear;
    border-top: var(--rectangle-border-width) solid #FFA200;
    border-right: var(--rectangle-border-width) solid #00FFFF;
    border-bottom: var(--rectangle-border-width) solid #FF5E00;
    border-left: var(--rectangle-border-width) solid #39AAAA;
}

@keyframes rotate-rectangle-clockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes increase-size {

    0%,
    100% {
        --rectangle-width: 30%;
        opacity: .2;
    }

    50% {
        --rectangle-width: 90%;
        opacity: .7;
    }
}

.animation-delay-3,
.animation-delay-3 ::before {
    animation-delay: -3s;
}

.animation-delay-6,
.animation-delay-6::before {
    animation-delay: -6s;
}

.animation-delay-9,
.animation-delay-9::before {
    animation-delay: -9s;
}

.animation-delay-12,
.animation-delay-12::before {
    animation-delay: -12s;
}

.animation-delay-15,
.animation-delay-15::before {
    animation-delay: -15s;
}

.rotate-rectangle-counter-clockwise::before,
.rotate-rectangle-counter-clockwise {
    animation-direction: reverse;
}