:root {
    --color-background-body: #f0ede4;
    font-family: "Roboto", sans-serif;
    --block-width: 4rem;
    --half-block-width: 2rem;
}

body {
    background-color: var(--color-background-body);
    margin: 0;
}

.container {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 60% 30%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title title"
        "blocks blocks blocks"
        "detail detail detail";
    height: 100vh;
}

.title {
    grid-area: title;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.blocks {
    grid-area: blocks;
    position: relative;
}

.block {
    width: var(--block-width);
    height: var(--block-width);
    position: absolute;
}

.block-1 {
    left: calc(50% - var(--half-block-width));
    top: calc(50% - var(--half-block-width));
}

.block-2 {
    left: calc(50% - var(--half-block-width));
}

.block-3 {
    left: calc(50% - var(--half-block-width));
    top: calc(70% - var(--half-block-width));
}

.block-4{
    left: calc(40% - var(--half-block-width));
    top: calc(50% - var(--half-block-width));
}

.block-5{
    left: calc(30% - var(--half-block-width));
    top: calc(50% - var(--half-block-width));
}

.block-6{
    left: calc(60% - var(--half-block-width));
    top: calc(50% - var(--half-block-width));
}

.block-7{
    left: calc(70% - var(--half-block-width));
    top: calc(50% - var(--half-block-width));
}

.red {
    background-color: #BD1E23;
}

.black {
    background-color: #020307;
}

.blue {
    background-color: #044A7E;
}

.orange {
    background-color: #FAB41E;
}

.grey {
    background-color: #898F8F;
}

.artists {
    font-size: 2rem;
    font-weight: bold;
    width: 40%;
}

.info {
    width: 60%;
}

@media screen and (max-width: 960px) {

    .artists,
    .info {
        width: 100%;
    }
}

.detail {
    grid-area: detail;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.info-col-title {
    width: 40%;
}

.info-col-info {
    width: 60%;
}

p {
    margin: 0;
}