:root {
    --color-background-body: #f0ede4;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--color-background-body);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title title"
        "blocks blocks blocks"
        "detail detail detail";
}

.title {
    grid-area: title;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.blocks {
    grid-area: blocks;
}

.artists {
    font-size: 2rem;
    font-weight: bold;
    width: 40%;
}

.info {
    width: 60%;
}

@media screen and (max-width: 960px) {
    .artists,
    .info {
        width: 100%;
    }
}

.detail {
    grid-area: detail;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.info-col-title {
    width: 40%;
}

.info-col-info {
    width: 60%;
}

p {
    margin: 0;
}