:root {
    --color-background-body: #f0ede4;
    font-family: "Roboto", sans-serif;
    --block-width: 4rem;
    --half-block-width: 2rem;
}

body {
    background-color: var(--color-background-body);
    margin: 0;
    overflow-x: hidden;
}

.rotate-body {
    animation: rotate-body 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes rotate-body {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

.container {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 60% 30%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "title title title"
        "blocks blocks blocks"
        "detail detail detail";
    height: 100vh;
}

.title {
    grid-area: title;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.blocks {
    grid-area: blocks;
    position: relative;
    max-width: 100%;
}

.block {
    width: var(--block-width);
    height: var(--block-width);
    position: absolute;
    overflow: hidden;
}

.block-1 {
    left: calc(50% - var(--half-block-width));
    top: calc(50% - var(--half-block-width));
    animation-name: block-1-in, hithere;
    animation-duration: 1.3s, 1.2s;
    animation-delay: 0s, 3s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    z-index: 100;
    cursor: pointer;
}

@keyframes hithere {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.fade-block-out{
    animation-name: fade-block-out !important;
    animation-duration: 3;
    animation-delay: 1;
    animation-iteration-count: 1;
}

@keyframes fade-block-out {
    0%{
        scale: 1;
    }
    100%{
        scale: 30;
        background-color: white;
    }
}

@keyframes block-1-in {
    0% {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    100% {
        width: var(--block-width);
        height: var(--block-width);
        left: calc(50% - var(--half-block-width));
        top: calc(50% - var(--half-block-width));
    }
}

.block-2 {
    left: calc(50% - var(--half-block-width));
    top: calc(50% - var(--half-block-width));
    animation-name: appear, block-2-in;
    animation-duration: 1s, 1s;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes block-2-in {
    0% {
        left: calc(50% - var(--half-block-width));
        top: calc(50% - var(--half-block-width));
    }

    100% {
        left: calc(50% - var(--half-block-width));
        top: 0;
    }
}

.block-3 {
    left: calc(50% - var(--half-block-width));
    top: calc(50% - var(--half-block-width));
    animation-name: appear, block-3-in;
    animation-duration: 1s, .5s;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes block-3-in {
    0% {
        left: calc(50% - var(--half-block-width));
        top: calc(50% - var(--half-block-width));
    }

    100% {
        left: calc(50% - var(--half-block-width));
        top: calc(70% - var(--half-block-width));
    }
}

.block-4 {
    left: -50vw;
    top: calc(50% - var(--half-block-width));
    animation-name: appear, block-4-in;
    animation-duration: 1s, 1s;
    animation-delay: 0s, 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes block-4-in {
    0% {
        left: -50vw;
        top: calc(50% - var(--half-block-width));
    }

    100% {
        left: calc(40% - var(--half-block-width));
        top: calc(50% - var(--half-block-width));
    }
}

.block-5 {
    left: -50vw;
    top: calc(50% - var(--half-block-width));
    animation-name: appear, block-5-in;
    animation-duration: 1s, 1s;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes block-5-in {
    0% {
        left: -50vw;
        top: calc(50% - var(--half-block-width));
    }

    100% {
        left: calc(30% - var(--half-block-width));
        top: calc(50% - var(--half-block-width));
    }
}

.block-6 {
    left: 150vw;
    top: calc(50% - var(--half-block-width));
    animation-name: appear, block-6-in;
    animation-duration: 1s, 1s;
    animation-delay: 0s, 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes block-6-in {
    0% {
        left: 150vw;
        top: calc(50% - var(--half-block-width));
    }

    100% {
        left: calc(60% - var(--half-block-width));
        top: calc(50% - var(--half-block-width));
    }
}

.block-7 {
    left: 150vw;
    top: calc(50% - var(--half-block-width));
    animation-name: appear, block-7-in;
    animation-duration: 2s, 1s;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes block-7-in {
    0% {
        left: 150vw;
        top: calc(50% - var(--half-block-width));
    }

    100% {
        left: calc(70% - var(--half-block-width));
        top: calc(50% - var(--half-block-width));
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.red {
    background-color: #BD1E23;
}

.black {
    background-color: #020307;
}

.blue {
    background-color: #044A7E;
}

.orange {
    background-color: #FAB41E;
}

.grey {
    background-color: #898F8F;
}

.artists {
    font-size: 2rem;
    font-weight: bold;
    width: 40%;
}

.info {
    width: 60%;
}

@media screen and (max-width: 960px) {

    .artists,
    .info {
        width: 100%;
    }
}

.detail {
    grid-area: detail;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.info-col-title {
    width: 40%;
}

.info-col-info {
    width: 60%;
}

p {
    margin: 0;
}