:root {
    --circle-radius: 15vh;
}

@media (orientation: portrait) {
    :root {
        --color-picker-circle-radius: 4vw;
    }
}

@media (orientation: landscape) {
    :root {
        --color-picker-circle-radius: 3vh;
    }
}

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    min-height: 300vh;
}

.circle {
    width: calc(var(--circle-radius) * 2);
    height: calc(var(--circle-radius) * 2);
    border-radius: 100%;
}

@media (orientation: landscape) {
    main {
        height: 80vh;
        width: 80vh;
    }

    @keyframes zoom-out {
        0% {
            transform: scale(10);
        }

        50% {
            transform: scale(3);
        }

        100% {
            transform: scale(10);
        }
    }
}

@media (orientation: portrait) {
    main {
        height: 80vw;
        width: 80vw;
    }

    @keyframes zoom-out {
        0% {
            transform: scale(5);
        }

        50% {
            transform: scale(2.5);
        }

        100% {
            transform: scale(5);
        }
    }
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: .2rem;
    animation-name: wobbly-frame-3;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition-property: height, width;
    transition-duration: 1.5s;
    animation-play-state: running;
}

@keyframes wobbly-frame-3 {
    0% {
        border-radius: 45% 35% 45% 40%;
    }

    25% {
        border-radius: 35% 40% 35% 45%;
    }

    50% {
        border-radius: 40% 35% 45% 35%;
    }

    75% {
        border-radius: 35% 45% 40% 40%;
    }

    100% {
        border-radius: 45% 35% 45% 40%;
    }
}

.rotating-circles-container {
    position: relative;
    width: 100%;
    height: 100%;
    animation-name: zoom-out;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.circle-container {
    position: absolute;
    mix-blend-mode: multiply;
}

.circle-container-cyan {
    left: calc(50% - var(--circle-radius));
    top: calc(50% - var(--circle-radius));
}

.circle-container-magenta {
    left: calc(30% - var(--circle-radius));
    top: calc(55% - var(--circle-radius));
    padding-left: 10%;
}

.circle-container-yellow {
    left: calc(60% - var(--circle-radius));
    top: calc(55% - var(--circle-radius));
    padding-right: 10%;
}

.cyan {
    background: radial-gradient(rgba(0, 255, 255, 1), rgba(255, 255, 255, .1));
}

.magenta {
    background: radial-gradient(rgba(255, 0, 255, 1), rgba(255, 255, 255, .1));
}

.yellow {
    background: radial-gradient(rgba(255, 255, 0, 1), rgba(255, 255, 255, .1));
}

.red {
    background: radial-gradient(rgba(255, 0, 0, .7), rgba(255, 255, 255, 0.1));
}

.green {
    background: radial-gradient(rgba(0, 255, 0, .7), rgba(255, 255, 255, 0.1));
}

.blue {
    background: radial-gradient(rgba(0, 0, 255, .7), rgba(255, 255, 255, 0.1));
}

.bright-pink {
    background: radial-gradient(rgba(255, 2, 133, 1), rgba(255, 255, 255, 0.1));
}

.maximum-red-purple {
    background: radial-gradient(rgba(170, 58, 116, 1), rgba(255, 255, 255, 0.1));
}

.vivid-yellow {
    background: radial-gradient(rgba(255, 255, 3, 1), rgba(255, 255, 255, 0.1));
}

.rotate-clockwise {
    animation-name: rotate-clockwise;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.rotate-counterclockwise {
    animation-name: rotate-counterclockwise;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



.move-up-down {
    animation-name: move-up-down;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes move-up-down {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10%);
    }

    75% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counterclockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.color-picker {
    position: fixed;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    transition: opacity .5s;
}

.color-picker-inner {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.color-picker-circle {
    margin: .5rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    height: calc(var(--color-picker-circle-radius) * 2);
    width: calc(var(--color-picker-circle-radius) * 2);
}

.color-picker-mix-color {
    display: inline-block;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: multiply;
}

.color-picker-mix-color.cyan,
.color-picker-mix-color.red,
.color-picker-mix-color.maximum-red-purple {
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-picker-mix-color.magenta,
.color-picker-mix-color.blue,
.color-picker-mix-color.bright-pink {
    left: -75%;
    bottom: -50%;
    transform: translate(-20%, 40%);
}

.color-picker-mix-color.yellow,
.color-picker-mix-color.green,
.color-picker-mix-color.vivid-yellow {
    right: -75%;
    bottom: -50%;
    transform: translate(20%, 40%);
}

header {
    position: absolute;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    text-align: center;
    color: gray;
    transition: opacity .5s;
}

#color-picker-circle-active {
    position: absolute;
    background-color: silver;
    margin: .5rem;
    height: calc(var(--color-picker-circle-radius) * 2);
    width: calc(var(--color-picker-circle-radius) * 2);
    border-radius: 50%;
    scale: 1.2;
    transition: left .5s;
}

.color-combo-1 {
    left: 0%;
}

.color-combo-2 {
    left: 33.3333333%;
}

.color-combo-3 {
    left: 66.6666666%;
}

.opacity-0 {
    opacity: 0;
}