:root {
    --circle-radius: 15vh;
}

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

.circle {
    width: calc(var(--circle-radius) * 2);
    height: calc(var(--circle-radius) * 2);
    border-radius: 100%;
    /* border: 1px solid black; */
}

@media (orientation: landscape) {
    main {
        height: 80vh;
        width: 80vh;
    }
}

@media (orientation: portrait) {
    main {
        height: 80vw;
        width: 80vw;
    }
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    /* border: 1rem solid #C0C0C0; */
    border-radius: .2rem;
    animation-name: change-frame;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

@keyframes change-frame {
    0% {
        border-radius: 40%;
    }

    50% {
        border-radius: 50%;
    }

    100% {
        border-radius: 40%;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    animation-name: zoom-out;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes zoom-out {
    0% {
        transform: scale(10);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(10);
    }
}

.circle-container {
    position: absolute;
    mix-blend-mode: multiply;
}

.circle-container-cyan {
    left: calc(50% - var(--circle-radius));
    top: calc(50% - var(--circle-radius));
    /* padding-top: 10%; */
}

.circle-container-magenta {
    left: calc(30% - var(--circle-radius));
    top: calc(55% - var(--circle-radius));
    padding-left: 10%;
}

.circle-container-yellow {
    left: calc(60% - var(--circle-radius));
    top: calc(55% - var(--circle-radius));
    padding-right: 10%;
}

.cyan {
    background: radial-gradient(rgba(0, 255, 255, 1), rgba(255, 255, 255, 0));
}

.magenta {
    background: radial-gradient(rgba(255, 0, 255, 1), rgba(255, 255, 255, 0));
}

.yellow {
    background: radial-gradient(rgba(255, 255, 0, 1), rgba(255, 255, 255, 0));
}

.rotate-clockwise {
    animation-name: rotate-clockwise;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.rotate-counterclockwise {
    animation-name: rotate-counterclockwise;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.rotate-left-right {
    animation-name: rotate-left-right;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate-left-right {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-90deg);
    }

    75% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.move-up-down {
    animation-name: move-up-down;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes move-up-down {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10%);
    }

    75% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counterclockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes move-clockwise {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(50%, 50%);
    }

    50% {
        transform: translate(0%, 100%);
    }

    75% {
        transform: translate(-50%, 50%);
    }

    100% {
        transform: translate(0, 0%)
    }
}